// COLORS
$color-primary-green: #004438;
$color-primary-red: #990000;
$color-primary-light: #eae6de;
$color-primary-dark: #888873;
$color-primary-green-light: #336960;

$color-bg: #f7f7ee;
$color-type: #495057;
$color-white: #fff;

// GRID
$grid-width: 144rem;
