@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
// GUIDLINES
// FONT-SIZE: 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 42 / 48 / 60 / 72 / 84

$color-primary: #004438;
$color-secondary: #990000;
$color-tertiary: #eae6de;
$color-shadow: #888873;
$bg-color: #f7f7ee;

@mixin nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin nav-list {
  display: flex;
  list-style: none;
  gap: 4.2rem;
  font-size: 1.8rem;
}

@mixin shadow {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.05);
}

/********************
GENERAL
********************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #495057;
  line-height: 1.5;
  background-color: $bg-color;
  font-size: 1.8rem;
}

// GRID
.container {
  max-width: 144rem;
  width: 100%;
  padding: 0 2.4rem;
}

.grid {
  display: grid;
  row-gap: 6.4rem;
}

.grid__cols--2 {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8.4rem;
}

.grid__cols--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid__cols--4 {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6.4rem;
}

.grid__cols--5 {
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2.4rem;
}

// HEADING
.heading-primary {
  font-size: 4.8rem;
  line-height: 1.5;
  color: $color-primary;
  margin-bottom: 3.6rem;
  text-transform: uppercase;
}

.heading-sub {
  font-size: 1.6rem;
  color: $color-secondary;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.heading-secondary {
  font-size: 3.6rem;
  color: $color-primary;
  margin-bottom: 4.8rem;
}

// BUTTON
.btn:link,
.btn:visited {
  display: inline-block;
  text-align: center;
  width: 15rem;
  text-decoration: none;
  padding: 1.2rem 1.6rem;
  border-radius: 8px;
  border: 1px solid $color-secondary;
  transition: all 0.3s;
  @include shadow;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: transparent;
  color: $color-secondary;
  margin-right: 2.4rem;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: $color-secondary;
  color: #fff;
}

.btn--full:link,
.btn--full:visited {
  background-color: $color-secondary;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: transparent;
  color: $color-secondary;
}

// PRODUCTS
.products__table {
  height: 50rem;
  overflow: auto;
  padding: 1.6rem;

  &::-webkit-scrollbar {
    background: $bg-color;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 10px;
    @include shadow;
  }

  .products__table--item {
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 1.6rem;
    position: relative;
    @include shadow;

    .new {
      background-color: $color-secondary;
      color: #fff;
      padding: 0.6rem 1.2rem;
      position: absolute;
      font-size: 1.2rem;
      top: 0.6rem;
      left: 0.6rem;
      border-radius: 5px;
    }

    .products__img {
      width: 100%;
    }

    .products__title {
      font-weight: bold;
      text-align: center;
    }

    .products__cart {
      background-color: $color-primary;
      color: #fff;
      width: 100%;
      text-align: center;
      border-radius: 10px;
      padding: 1rem;
      cursor: pointer;
      @include shadow;
    }

    .out-of-stock {
      background-color: $color-shadow;
      cursor: default;
    }
  }
}

.normal {
  position: absolute;
  height: 8.4rem;
  background-color: transparent;
}

.sticky {
  position: fixed;
  z-index: 1;
  height: 4.8rem;
  background-color: $bg-color;

  .header__nav {
    .header__nav-list {
      a:link::after,
      a:visited::after {
        top: 1.2rem;
      }
    }
  }
}

/********************
HEADER
********************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $color-shadow;
  transition: all 0.3s;

  .header__nav {
    padding: 0 2.4rem;

    .header__logo {
      height: 2.4rem;
    }

    .header__nav-list {
      @include nav-list;
      justify-self: center;

      a:link,
      a:visited {
        text-decoration: none;
        color: $color-shadow;
        position: relative;
        transition: all 0.3s;
      }

      a:hover,
      a:active {
        color: $color-primary;
      }

      a:link::after,
      a:visited::after {
        content: '';
        width: 100%;
        height: 5px;
        display: inline-block;
        position: absolute;
        top: -128%;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s;
      }

      a:hover::after,
      a:active::after {
        content: '';
        background: $color-primary;
        animation: 0.6s ease-out nav-effect;
      }
    }
  }
}

/********************
HERO SECTION
********************/
.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img/background.png');
  background-size: cover;
  padding-top: 8.4rem;

  .container {
    padding: 8.4rem 0 8.4rem 2.4rem;
    position: relative;

    .hero__headline {
      padding-top: 10rem;

      .heading-primary {
        opacity: 0;
        animation: 3s hero-effect-01 ease-out;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
      }

      .hero__headline--sub {
        opacity: 0;
        font-size: 2rem;
        margin-bottom: 5.2rem;
        animation: 2s hero-effect-01 ease-out;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
      }

      .btn {
        opacity: 0;
        animation: 3s hero-effect-02;
        animation-delay: 3.5s;
        animation-fill-mode: forwards;
      }

      .hero__stores {
        display: flex;
        align-items: start;
        gap: 3.6rem;
        position: absolute;
        bottom: 8.4rem;
        filter: sepia(1);
        opacity: 0;
        animation: 3s hero-effect-02;
        animation-delay: 3.5s;
        animation-fill-mode: forwards;

        img {
          width: 8rem;
          opacity: 0.8;
        }
      }
    }

    .hero__img {
      width: 100%;
      border-radius: 40% 0 0 0;
      opacity: 0;
      animation: 5s hero-effect-02;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
    }
  }
}

/********************
FEATURED SECTION
********************/
.section-featured {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  background-color: $color-tertiary;

  .container {
    justify-items: space-between;

    .featured__logo--item {
      justify-self: center;
      height: 3rem;
      filter: sepia(100%);
      opacity: 0.5;
    }
  }
}

/********************
NEW SECTION
********************/

.section-new {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $color-shadow;
  // padding-bottom: 10rem;
  padding: 10rem;

  .new {
    // padding: 10rem 2.4rem;
    position: relative;
    padding-left: 0;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 50rem;
      height: 50rem;
      opacity: 50%;
      background: url('img/new/new-product.png');
      background-size: cover;
      right: 0;
      top: 25rem;
      z-index: -1;
    }

    .new__image {
      width: 100%;
      height: 60rem;
      background: url('img/new/model-new-product01.png');
      background-size: cover;
    }

    .new__content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .heading-secondary {
        span {
          font-size: 2.4rem;
        }
      }

      p {
        margin-bottom: 3.6rem;
      }
    }

    .new-line {
      grid-column: 1 / 3;

      .heading-secondary {
        text-align: center;
      }

      .new-line__table {
        height: 50rem;
        overflow: auto;
        padding: 1.6rem;

        &::-webkit-scrollbar {
          background: $bg-color;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: $color-primary;
          border-radius: 10px;
          @include shadow;
        }
      }
    }
  }
}

/********************
ABOUT SECTION
********************/
.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.2rem;
  padding: 10rem 0;

  .about__brand {
    padding-right: 0;

    .brand__img {
      background-image: url('img/about/about-model-02.jpg');
      background-size: cover;
      background-position: center;
      width: 100%;
      justify-self: center;
    }

    .brand__content {
      justify-self: center;
    }
  }

  .about__offer {
    padding: 0 2.4rem 0;

    .offer__list {
      list-style: none;
      justify-content: space-between;
      // border-bottom: 1px solid $color-shadow;
      // border-top: 1px solid $color-shadow;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.6rem;
        text-align: center;
        // border: 1px solid $color-primary;
        // border-bottom: 7px solid $color-shadow;
        // box-shadow: 0 8px 10px rgba(0, 0, 0, 0.05);
        line-height: 1.2;
        // background-color: $color-tertiary;

        .offer__list--icon {
          width: 10rem;
          margin-bottom: 3rem;
          border-radius: 50%;
          padding: 2rem;
          background-color: $color-tertiary;
          // box-shadow: 0 8px 10px rgba(0, 0, 0, 0.05);
        }

        h4 {
          font-size: 2rem;
          margin-bottom: 2rem;
          display: inline-block;
        }
      }
    }
  }
}

.about__ingredients {
  display: flex;
  flex-direction: column;
  padding: 10rem 2.4rem;

  .heading-secondary {
    text-align: center;
  }

  .about__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-bottom: 4.8rem;

    .about__nav-list {
      @include nav-list;
      display: flex;
      width: 100%;
      justify-content: space-between;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;

        img {
          width: 6rem;
          // padding: 2rem;
          // border-radius: 50%;
          // background-color: $color-tertiary;
          margin-bottom: 1.2rem;
        }
      }
    }
  }

  .ingredients__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    .ingredients__story {
      h4 {
        font-size: 3.6rem;
        color: $color-primary;
        margin-bottom: 2.8rem;
      }

      p {
        line-height: 1.7;
      }
    }

    .ingredients__img {
      width: 100%;
    }
  }
}

.section-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  background-color: $color-tertiary;

  .products {
    display: flex;
    flex-direction: column;

    .products__header {
      width: 100%;
      margin-bottom: 3.6rem;

      .products__info {
        display: flex;
        flex-direction: column;
        // justify-content: center;

        .heading-secondary {
          margin-bottom: 2.4rem;
        }

        .products__info--solution {
          margin-bottom: 3rem;
          font-style: italic;
          font-size: 2.4rem;
        }
      }

      .products__header--img {
        width: 100%;
        height: 35rem;
        background: linear-gradient(90deg, $color-tertiary, transparent),
          url('img/products/best-seller.png');
        background-size: cover;
        background-position: center right 25%;
      }
    }

    .products__filter {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 2.4rem;
      margin-bottom: 3.6rem;

      .products__filter--option {
        width: 25rem;
        padding: 0.8rem;
        border-radius: 20px;
        border: 2px solid $color-primary;
        font-size: 1.8rem;
        background-color: $bg-color;

        option {
          line-height: 1.2;
        }
      }
    }
  }
}

/********************
CONTACT SECTION
********************/

.section-contact {
  background: url('img/contact/bg.png');
  background-size: cover;
  padding: 10rem 0;
  display: flex;
  justify-content: center;

  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form__part {
      margin-bottom: 2rem;

      input {
        padding: 1.2rem;
        font-size: 1.8rem;
        border-radius: 10px;
      }

      #agree {
        margin-right: 1.2rem;
      }

      #email {
        width: 60rem;
      }
    }

    button {
      font-size: 1.8rem;
      width: 15rem;
      padding: 1.2rem 1.6rem;
      background-color: $color-primary;
      border: 1px solid $color-primary;
      color: #fff;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 2.4rem;
      transition: all 0.3s;

      &:hover {
        background-color: #336960;
        border: 1px solid #336960;
      }
    }
  }
}

/********************
FOOTER SECTION
********************/

.footer {
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  padding: 4rem 2.4rem;
  color: #fff;

  .container {
    .footer__logo {
      height: 2.4rem;
    }

    .copyright {
      font-size: 1.2rem;
    }

    .footer__nav {
      column-gap: 5.2rem;
      font-size: 1.6rem;

      ul {
        list-style: none;

        p {
          font-weight: bold;
          margin-bottom: 1.2rem;
        }

        li {
          cursor: pointer;
        }
      }
    }
  }
}

/********************
ANIMATION
********************/

// NAVIGATION BAR
@keyframes nav-effect {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes hero-effect-01 {
  from {
    opacity: 0;
    transform: translate(0, 8rem);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes hero-effect-02 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
