@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
// GUIDLINES
// FONT-SIZE: 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 42 / 48 / 60 / 72 / 84

$color-primary: #004438;
$color-secondary: #990000;
$color-tertiary: #eae6de;
$color-shadow: #888873;
$bg-color: #f7f7ee;

@mixin nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin nav-list {
  display: flex;
  list-style: none;
  gap: 4.2rem;
  font-size: 1.8rem;
}

@mixin container {
  display: flex;
  width: 100%;
  max-width: 144rem;
}

@mixin shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/********************
GENERAL
********************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #495057;
  background-color: $bg-color;
  font-size: 1.8rem;
}

// HEADING
.heading-primary {
  font-size: 4.8rem;
  color: $color-primary;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 1.6rem;
  color: $color-secondary;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.heading-tertiary {
  font-size: 3.6rem;
  text-align: center;
  color: $color-primary;
  position: relative;
  display: inline-block;
}

.heading-tertiary::after {
  content: '“';
  display: inline-block;
  font-size: 10rem;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: -3rem;
}

// BUTTON
.btn:link,
.btn:visited {
  display: inline-block;
  text-align: center;
  width: 15rem;
  text-decoration: none;
  padding: 1.2rem 1.6rem;
  border: 1px solid $color-secondary;
  color: $color-secondary;
  border-radius: 8px;
  transition: all 0.3s;
  @include shadow;
}

.btn:hover,
.btn:active {
  background-color: $color-secondary;
  color: #fff;
}

.btn--active:link,
.btn--active:visited {
  background-color: $color-secondary;
  color: #fff;
}

.btn--active:hover,
.btn--active:active {
  background-color: transparent;
  color: $color-secondary;
}

/********************
HERO SECTION
********************/
.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url('img/background.png');
  background-size: cover;

  // HEADER
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8.4rem;
    border-bottom: 1px solid $color-shadow;

    .header__nav {
      @include nav;
      width: 100%;
      max-width: 144rem;
      padding: 0 2.4rem;

      .header__logo {
        height: 2.4rem;
      }

      .header__nav-list {
        @include nav-list;

        a:link,
        a:visited {
          text-decoration: none;
          color: $color-shadow;
          position: relative;
          transition: all 0.3s;
        }

        a:hover,
        a:active {
          color: $color-primary;
        }

        a:link::after,
        a:visited::after {
          content: '';
          width: 100%;
          height: 5px;
          display: inline-block;
          position: absolute;
          top: -122%;
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.3s;
        }

        a:hover::after,
        a:active::after {
          content: '';
          background: $color-primary;
        }
      }
    }
  }

  .hero__container {
    @include container;
    padding: 0 2.4rem;
    // padding: 0 2.4rem;
    justify-content: space-between;

    .hero__headline {
      width: 48%;
      margin-bottom: 8rem;
      align-self: center;

      .hero__headline--sub {
        font-size: 2rem;
        margin-bottom: 3.6rem;
      }

      .hero__cta {
        display: flex;
        gap: 3.125rem;
      }

      .hero__store {
        display: flex;
        height: 1.8rem;
        gap: 4.2rem;

        img:nth-child(1) {
          height: 1.2rem;
        }
      }
    }

    .hero__img {
      // background: url('img/hero/model2.jpg');
      // background-size: cover;
      // background-position: center;
      width: 48%;
      align-self: center;
    }
  }
}

/********************
FEATURED SECTION
********************/
.section-featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.883rem 0;
  border-bottom: 1px solid $color-shadow;
  border-top: 1px solid $color-shadow;

  .featured__title {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
  }

  .featured__logo {
    @include container;
    justify-content: space-around;

    .featured__logo--item {
      height: 3.906rem;
      filter: sepia(100%);
      opacity: 0.6;
    }
  }
}

/********************
ABOUT SECTION
********************/
.section-about {
  display: flex;
  justify-content: center;
  padding: 9.537rem 0;

  .about__container {
    @include container;
    flex-direction: column;
    align-items: center;

    .about__nav {
      @include nav;

      .about__nav-list {
        display: flex;
        justify-content: center;
        @include nav-list;

        a:link,
        a:visited {
          color: $color-primary;
          text-decoration: none;
          opacity: 0.8;
        }

        a:hover::after,
        a:active::after {
          content: '';
          background-color: $color-primary;
        }
      }
    }

    .about__article {
      display: grid;
      justify-items: center;
      align-content: center;
      padding: 7.629rem 0;
      gap: 3.125rem;
      grid-template-columns: repeat(2, 1fr);

      .about__img {
        background-image: url('img/about-jeju-island.png');
        background-size: cover;
        background-position: center;

        width: 80%;
      }

      .about__content {
        display: flex;
        flex-direction: column;
        gap: 3.125rem;

        .about__content--description {
          // font-size: 2rem;
          text-align: center;
          line-height: 1.6;
        }
      }

      .about__img {
        // width: 100%;

        .about__img--item {
          width: 100%;
          height: 100%;
          border-radius: 0 50% 50% 0;
        }
      }

      .about__img--jeju {
        background-image: url('img/jeju-mt-halla.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 50rem;
      }

      .about__pledges {
        display: flex;
        list-style: none;
        text-align: center;
        grid-column: 1 / 3;
        padding: 0 2.4rem;
        justify-content: space-around;

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #eae6de;
          border-radius: 20px;
          width: 20%;
          padding: 3.906rem 2rem;
          @include shadow;

          .about__pledges--icon {
            width: 8rem;
            display: block;
          }
        }
      }
    }
  }
}
