@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
$color-primary: #046a38;
$bg-color: #fcfbf4;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Merriweather', serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: $bg-color;
}

.header {
  display: flex;
  justify-content: center;
  height: 9.6rem;

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 130rem;
    padding: 3rem;
    border-bottom: 1px solid $color-primary;

    .logo {
      height: 3rem;
    }

    .main-nav__list {
      display: flex;
      list-style: none;
      gap: 3.2rem;
      color: $color-primary;

      a:link,
      a:visited {
        text-decoration: none;
        color: $color-primary;
        font-size: 1.8rem;
        padding-bottom: 0.6rem;
        border-bottom: 2px solid transparent;
        transition: all 0.3s;
      }

      a:hover,
      a:active {
        border-bottom: 2px solid $color-primary;
      }
    }
  }
}
