.about {
  display: flex;
  justify-content: center;
  padding: 10rem 0;

  .container {
    padding-right: 0;
  }

  &__content {
    justify-self: center;

    &--img {
      background-image: url('img/about/model.jpg');
      background-size: cover;
      background-position: center;
      width: 100%;
      justify-self: center;
    }
  }

  &__offer {
    grid-column: 1 / -1;
    list-style: none;
    justify-content: space-between;
    padding-right: 2.4rem;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2.4rem;
      text-align: center;
      line-height: 1.2;

      img {
        width: 10rem;
        margin-bottom: 3rem;
        border-radius: 50%;
        padding: 2rem;
        background-color: $color-primary-light;
      }

      h4 {
        font-size: 2rem;
        margin-bottom: 2rem;
        display: inline-block;
      }
    }
  }
}
