.featured {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  background-color: $color-primary-light;

  .container {
    justify-items: space-between;

    img {
      justify-self: center;
      height: 3rem;
      filter: sepia(100%);
      opacity: 0.5;
    }
  }
}
