.container {
  max-width: 144rem;
  width: 100%;
  padding: 0 2.4rem;

  @media (max-width: 57em) {
    max-width: 102.4rem;
  }
}

.grid {
  display: grid;
  row-gap: 6.4rem;

  &__cols--2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8.4rem;
  }

  &__cols--3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &__cols--4 {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6.4rem;
  }

  &__cols--5 {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2.4rem;
  }
}
