@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/********************
GENERAL
********************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #495057;
  line-height: 1.5;
  background-color: #f7f7ee;
  font-size: 1.8rem; }

.container {
  max-width: 144rem;
  width: 100%;
  padding: 0 2.4rem; }

.grid {
  display: grid;
  column-gap: 7.2rem;
  row-gap: 6.4rem; }

.grid__cols--2 {
  grid-template-columns: repeat(2, 1fr); }

.grid__cols--3 {
  grid-template-columns: repeat(3, 1fr); }

.grid__cols--4 {
  grid-template-columns: repeat(4, 1fr); }

.grid__cols--5 {
  grid-template-columns: repeat(5, 1fr); }

.heading-primary {
  font-size: 4.8rem;
  line-height: 1.5;
  color: #004438;
  margin-bottom: 3.6rem;
  text-transform: uppercase; }

.heading-sub {
  font-size: 1.6rem;
  color: #990000;
  text-transform: uppercase;
  margin-bottom: 3rem; }

.heading-secondary {
  font-size: 3.6rem;
  color: #004438;
  margin-bottom: 4.8rem; }

.btn:link,
.btn:visited {
  display: inline-block;
  text-align: center;
  width: 15rem;
  text-decoration: none;
  padding: 1.2rem 1.6rem;
  border-radius: 8px;
  border: 1px solid #990000;
  transition: all 0.3s;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.05); }

.btn--outline:link,
.btn--outline:visited {
  background-color: transparent;
  color: #990000;
  margin-right: 2.4rem; }

.btn--outline:hover,
.btn--outline:active {
  background-color: #990000;
  color: #fff; }

.btn--full:link,
.btn--full:visited {
  background-color: #990000;
  color: #fff; }

.btn--full:hover,
.btn--full:active {
  background-color: transparent;
  color: #990000; }

/********************
HEADER
********************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8.4rem;
  border-bottom: 1px solid #888873;
  position: absolute; }
  .header .header__nav {
    padding: 0 2.4rem; }
    .header .header__nav .header__logo {
      height: 2.4rem; }
    .header .header__nav .header__nav-list {
      display: flex;
      list-style: none;
      gap: 4.2rem;
      font-size: 1.8rem;
      justify-self: center; }
      .header .header__nav .header__nav-list a:link,
      .header .header__nav .header__nav-list a:visited {
        text-decoration: none;
        color: #888873;
        position: relative;
        transition: all 0.3s; }
      .header .header__nav .header__nav-list a:hover,
      .header .header__nav .header__nav-list a:active {
        color: #004438; }
      .header .header__nav .header__nav-list a:link::after,
      .header .header__nav .header__nav-list a:visited::after {
        content: '';
        width: 100%;
        height: 5px;
        display: inline-block;
        position: absolute;
        top: -114%;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s; }
      .header .header__nav .header__nav-list a:hover::after,
      .header .header__nav .header__nav-list a:active::after {
        content: '';
        background: #004438;
        animation: 0.6s ease-out nav-effect; }

/********************
HERO SECTION
********************/
.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/background.png");
  background-size: cover;
  padding-top: 8.4rem; }
  .section-hero .container {
    align-items: center;
    padding: 8.4rem 0 8.4rem 2.4rem;
    position: relative; }
    .section-hero .container .hero__headline .hero__headline--sub {
      font-size: 2rem;
      margin-bottom: 5.2rem; }
    .section-hero .container .hero__headline .hero__stores {
      display: flex;
      align-items: start;
      gap: 3rem;
      position: absolute;
      bottom: 8.4rem; }
      .section-hero .container .hero__headline .hero__stores img {
        width: 10rem;
        opacity: 0.8; }
    .section-hero .container .hero__img {
      width: 100%;
      border-top-left-radius: 40%; }

/********************
FEATURED SECTION
********************/
.section-featured {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  border-bottom: 1px solid #888873;
  border-top: 1px solid #888873; }
  .section-featured .container {
    justify-items: space-between; }
    .section-featured .container .featured__logo--item {
      justify-self: center;
      height: 4rem;
      filter: sepia(100%);
      opacity: 0.5; }

/********************
ABOUT SECTION
********************/
.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem; }
  .section-about .about__brand {
    padding: 10rem 2.4rem 0 0; }
    .section-about .about__brand .brand__img {
      background-image: url("img/about/about-model-02.jpg");
      background-size: cover;
      background-position: center;
      width: 100%;
      justify-self: center; }
    .section-about .about__brand .brand__content {
      justify-self: center; }
  .section-about .about__offer {
    padding: 10rem 2.4rem 0; }
    .section-about .about__offer .offer__list {
      list-style: none;
      justify-content: space-between; }
      .section-about .about__offer .offer__list li {
        align-items: center;
        padding: 3rem 3.6rem;
        text-align: center;
        border-top: 7px solid #004438;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.05);
        line-height: 1.2; }
        .section-about .about__offer .offer__list li .offer__list--icon {
          width: 6.4rem; }
        .section-about .about__offer .offer__list li h4 {
          font-size: 2rem;
          margin-bottom: 2rem;
          display: inline-block; }

.about__ingredients {
  display: flex;
  flex-direction: column;
  padding: 10rem 2.4rem; }
  .about__ingredients .heading-secondary {
    text-align: center; }
  .about__ingredients .about__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-bottom: 4.8rem; }
    .about__ingredients .about__nav .about__nav-list {
      display: flex;
      width: 100%;
      justify-content: space-around; }
      .about__ingredients .about__nav .about__nav-list li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.2rem; }
        .about__ingredients .about__nav .about__nav-list li img {
          width: 6rem;
          margin-bottom: 1.2rem; }
  .about__ingredients .ingredients__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center; }
    .about__ingredients .ingredients__content .ingredients__story {
      width: 100%;
      padding-left: 5.2rem;
      padding-right: 4.8rem; }
      .about__ingredients .ingredients__content .ingredients__story h4 {
        font-size: 3.6rem;
        color: #004438;
        margin-bottom: 2.8rem; }
      .about__ingredients .ingredients__content .ingredients__story p {
        line-height: 1.7; }
    .about__ingredients .ingredients__content .ingredients__img {
      width: 90%; }

.section-products {
  display: flex;
  flex-direction: column;
  align-items: center; }

@keyframes nav-effect {
  from {
    width: 0;
    opacity: 0; }
  to {
    width: 100%;
    opacity: 1; } }
