@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Marcellus', sans-serif;
  font-weight: 400;
  color: #555;
  background-color: #f7f7ee; }

.btn:link,
.btn:visited {
  display: inline-block;
  text-align: center;
  width: 20rem;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem;
  border: 2px solid #004438;
  color: #004438;
  border-radius: 1.5rem;
  transition: all 0.3s; }

.btn:hover,
.btn:active {
  background-color: #004438;
  color: #fff; }

.btn--active:link,
.btn--active:visited {
  background-color: #004438;
  color: #fff; }

.btn--active:hover,
.btn--active:active {
  background-color: transparent;
  color: #004438; }

.header {
  display: flex;
  justify-content: center;
  height: 9.6rem; }
  .header .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 144rem;
    padding: 3rem;
    border-bottom: 1px solid #004438; }
    .header .main-nav .logo {
      height: 3rem; }
    .header .main-nav .main-nav__list {
      display: flex;
      list-style: none;
      gap: 3.2rem;
      color: #004438; }
      .header .main-nav .main-nav__list a:link,
      .header .main-nav .main-nav__list a:visited {
        text-decoration: none;
        color: #004438;
        font-size: 2rem;
        padding-bottom: 0.6rem;
        border-bottom: 2px solid transparent;
        transition: all 0.3s; }
      .header .main-nav .main-nav__list a:hover,
      .header .main-nav .main-nav__list a:active {
        border-bottom: 2px solid #004438; }

.hero {
  display: flex;
  justify-content: center;
  height: calc(100vh - 9.6rem); }
  .hero .hero__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 144rem; }
    .hero .hero__container .hero__headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      margin-bottom: 8rem; }
      .hero .hero__container .hero__headline .hero__headline--heading {
        text-transform: uppercase;
        font-size: 4.8rem;
        color: #004438;
        padding-bottom: 2rem;
        text-align: center;
        margin-top: 6.4rem; }
      .hero .hero__container .hero__headline .hero__headline--description {
        font-size: 2rem;
        width: 80%;
        padding-bottom: 2rem;
        text-align: center; }
      .hero .hero__container .hero__headline .cta {
        display: flex;
        gap: 3rem;
        padding-bottom: 2rem; }
    .hero .hero__container .hero__img {
      display: flex;
      justify-content: center;
      height: 100%;
      gap: 2rem; }
      .hero .hero__container .hero__img .hero__img--item:nth-child(odd) {
        align-self: flex-start;
        border-radius: 0 0 2rem 2rem; }
      .hero .hero__container .hero__img .hero__img--item:nth-child(even) {
        align-self: flex-end;
        border-radius: 2rem 2rem 0 0; }
      .hero .hero__container .hero__img .hero__img--item:nth-child(1) {
        background-image: url("img/hero-green-tea.png");
        background-position: center;
        background-size: cover;
        width: 30rem;
        height: 80%; }
      .hero .hero__container .hero__img .hero__img--item:nth-child(2) {
        background-image: url("img/hero-volcanic-cluster.png");
        background-position: center;
        background-size: cover;
        width: 30rem;
        height: 80%; }
      .hero .hero__container .hero__img .hero__img--item:nth-child(3) {
        background-image: url("img/hero-tangerine.png");
        background-position: center;
        background-size: cover;
        width: 30rem;
        height: 80%; }
      .hero .hero__container .hero__img .hero__img--item:nth-child(4) {
        background-image: url("img/hero-bija.png");
        background-position: center;
        background-size: cover;
        width: 30rem;
        height: 80%; }
